body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    height: 75px;
    background-color: rgb(15, 31, 82);
    border-bottom: solid black 2px;
    width: 100%;
    position: fixed;
        top: 0px;
}

.menu{
    padding-top: 10px;
    border-spacing: 170px 0px;
}

a{
    text-decoration: none;
    color: black;
}

.menu1{
    transition-duration: 0.5s;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px;
    text-align: center;
    height: 45px;
    width: 270px;
    border: solid #000000 2px;
    box-shadow: 8px 5px 7px rgba(0, 0, 0, 0.63) 
}

.menu1:hover{
    height: 50px;
    width: 310px;
    background-color: rgb(84, 121, 189);
}

.menu2{
    height: 50px;
    width: 50px;
    position: absolute;
        top: 15%;
        right: 1.4%;
}

.menu3{
    height: 70px;
    width: 65px;
    position: absolute;
        top: 0.3%;
        left: 1.2%;
}

.class1{
    margin-top: 700px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #555;
}

input[type="text"], 
input[type="number"], 
textarea, 
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
