body{
    margin: 0px;
    background-color: rgb(87, 87, 190);
}

header {
    height: 75px;
    background-color: rgb(15, 31, 82);
    border-bottom: solid black 2px;
    width: 100%;
    position: fixed;
        top: 0px;
}

.menu{
    padding-top: 10px;
    border-spacing: 170px 0px;
}

a{
    text-decoration: none;
    color: black;
}

.menu1{
    transition-duration: 0.5s;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px;
    text-align: center;
    height: 45px;
    width: 270px;
    border: solid #000000 2px;
    box-shadow: 8px 5px 7px rgba(0, 0, 0, 0.63) 
}

.menu1:hover{
    height: 50px;
    width: 310px;
    background-color: rgb(84, 121, 189);
}

.menu2{
    height: 50px;
    width: 50px;
    position: absolute;
        top: 15%;
        right: 1.4%;
}

.menu3{
    height: 70px;
    width: 65px;
    position: absolute;
        top: 0.3%;
        left: 1.2%;
}


.grandBox{
    margin-top: 200px;
}

.flex{
    display: flex;
}

.box{
    background-color: rgb(0, 140, 255);
    margin: 30px;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 30px;
    border-color: black;
    padding: 40px;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0.5);
    transition: 1s;
}

.box:hover{
    width: 200px;
    height: 200px;
}

footer{
    height: 115px;
    background-color: rgb(15, 31, 82);
    border-top: solid black 2px;
    width: 100%;
    position: relative;
        top: 170px;
        right: 0px;
        left: 0px;
}
