body{
    margin: 0px;
    background-image: url(fond.png);
    font-family: "Lato", sans-serif;
    font-weight: 550;
    font-style: normal;
    text-decoration-color: white;
}



header {
    height: 75px;
    background-color: rgb(122, 166, 233);
    border-bottom: solid rgb(255, 255, 255) 2px;
    width: 100%;
    position: fixed;
}

.menu{
    margin-top: 0px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul li{
    width: 150px;
    margin-left: 130px;
    transition-duration: 0.5s;
    margin: auto;
}   

nav ul li:hover{
    background-color: rgba(41, 101, 221, 0.705);
}



nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}


nav ul ::after{
    content: "";
    display: table;
        clear: both;
}
    
nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.sous{
    display: none;
    background-color: rgba(41, 101, 221, 0.705);
    position: absolute;
    z-index: 1000;
    width: 292px;
    margin-right: 20px;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    width: 100%;
    text-align: center;
}

.sous a{
    border-bottom: none;
}

.sous a:hover{
    color: black;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
}

ul,li{
    list-style: none;
}

.menu3{
    height: 60px;
    width: 70px;
    position: absolute;
        top: 10%;
        left: 1.2%;
}

.Ubisoft{
    margin-top: 8%;
    height: 35%;
    width: 42%;
}

.section1{
    border-radius: 50px 50px;
    background-color: rgb(175, 216, 243);
    margin-top: 12%;
    width: 60%;
    height: 1300px;
    box-shadow: 0px 0px 60px black;
}

.img1{
    margin-top: 0px;
}

.txt1{
    width: 240px;
    float: right;
    margin-right: 10px;
}

.localisation{
    border-radius: 70px 70px;
}

footer{
    color: white;
    height: 115px;
    background-color:  rgb(122, 166, 233);
    border-top: solid white 2px;
    width: 100%;
    position: relative;
        top: 170px;
        right: 0px;
        left: 0px;
}
