body{
    margin: 0px;
    background-image: url(fond.png);
    font-family: "Lato", sans-serif;
    font-weight: 550;
    font-style: normal;
    text-decoration-color: white;
}

header {
    height: 75px;
    background-color: rgb(122, 166, 233);
    border-bottom: solid rgb(255, 255, 255) 2px;
    width: 100%;
    position: fixed;
}

.menu{
    padding-top: 10px;
    border-spacing: 170px 0px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu1{
    height: 50px;
    width: 120px;
    transition-duration: 0.5s;
    text-align: center;
}   

.menu1:hover{
    background-color: rgba(41, 101, 221, 0.705);
}

.menu2{
    height: 50px;
    width: 50px;
    position: absolute;
        top: 15%;
        right: 1.4%;
}

.menu3{
    height: 60px;
    width: 70px;
    position: absolute;
        top: 10%;
        left: 1.2%;
}

.Ubisoft{
    margin-top: 8%;
    height: 35%;
    width: 42%;
}

.section1{
    border-radius: 50px 50px;
    background-color: rgb(122, 166, 233);
    margin-top: 12%;
    width: 60%;
    height: 1300px;
    box-shadow: 0px 0px 60px black;
}

footer{
    height: 115px;
    background-color:  rgb(122, 166, 233);
    border-top: solid black 2px;
    width: 100%;
    position: relative;
        top: 170px;
        right: 0px;
        left: 0px;
}
